* {
	primary: #a6c8ff;
	primary-fixed: #d5e3ff;
	primary-fixed-dim: #a6c8ff;
	on-primary: #002f5d;
	on-primary-fixed: #001c3b;
	on-primary-fixed-variant: #004787;
	primary-container: #00529a;
	on-primary-container: #ffffff;
	secondary: #bdc5eb;
	secondary-fixed: #dce1ff;
	secondary-fixed-dim: #bdc5eb;
	on-secondary: #252d4b;
	on-secondary-fixed: #121a37;
	on-secondary-fixed-variant: #3e4565;
	secondary-container: #495070;
	on-secondary-container: #ffffff;
	tertiary: #c6c0f9;
	tertiary-fixed: #e4dfff;
	tertiary-fixed-dim: #c6c0f9;
	on-tertiary: #2d2957;
	on-tertiary-fixed: #191443;
	on-tertiary-fixed-variant: #454171;
	tertiary-container: #504c7d;
	on-tertiary-container: #ffffff;
	error: #ffb4ab;
	on-error: #660004;
	error-container: #a7060f;
	on-error-container: #ffffff;
	surface: #0e141c;
	on-surface: #dee2ef;
	on-surface-variant: #c2c6d2;
	outline: #8c919c;
	outline-variant: #4d525c;
	shadow: #000000;
	scrim: #000000;
	inverse-surface: #dee2ef;
	inverse-on-surface: #2b313a;
	inverse-primary: #005fb0;
	surface-dim: #0e141c;
	surface-bright: #363c45;
	surface-container-lowest: #080d15;
	surface-container-low: #171c25;
	surface-container: #1c212a;
	surface-container-high: #272c35;
	surface-container-highest: #323740;

	/** ==== Transparent surfaces ==== **/
	surface-transparent: #0e141ccc;
	surface-dim-transparent: #0e141ccc;
	surface-bright-transparent: #363c45cc;
	surface-container-lowest-transparent: #080d15cc;
	surface-container-low-transparent: #171c25cc;
	surface-container-transparent: #1c212acc;
	surface-container-high-transparent: #272c35cc;
	surface-container-highest-transparent: #323740cc;
}
